* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./images/L4img1.jpeg);
    background-position: center;
    background-size: cover;
   
    font-family: sans-serif;
}

.menu-bar{
    text-align: center;
    background-color: cadetblue;
}

.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: white;
}

.menu-bar ul li{
    padding: 15px;
    margin: 15px;
    width: 120px;
}

.menu-bar ul li a{
    text-decoration: none;
    color: white;
}